<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HopeHouse.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HopeHouse.Common.Properties.Settings>
            <setting name="DatabasePath" serializeAs="String">
                <value>../Database/HopeHouse.sqlite</value>
            </setting>
            <setting name="LastBackupDate" serializeAs="String">
                <value>Never</value>
            </setting>
            <setting name="BackupReminder" serializeAs="String">
                <value>NextRun</value>
            </setting>
            <setting name="AutoBackupPath" serializeAs="String">
                <value />
            </setting>
        </HopeHouse.Common.Properties.Settings>
    </userSettings>
</configuration>